In [28]:
songs =['./genie.xlsx', './bugs.xlsx', './melon.xlsx']

In [29]:
import pandas as pd
append_data = pd.DataFrame()
for name in songs:
    pd_data = pd.read_excel(name)
    append_data = append_data.append(pd_data)

In [30]:
append_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  250 non-null    int64
 1   서비스         250 non-null    object
 2   순위          250 non-null    int64
 3   타이틀         250 non-null    object
 4   가수          250 non-null    object
dtypes: int64(2), object(3)
memory usage: 11.7+ KB

In [31]:
append_data.to_excel('total.xlsx', index = False)